<%= decidim_form_for(@form, html: { class: "form form-defaults redirections-form edit_redirection redirection_form_admin" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title") } %>

      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= f.submit t(".save"), class: "button button__sm button__secondary" %>
        </div>
      </div>
<% end %>
